body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background-color: rgb(189, 72, 72);
  }
  
  
  span {
    color: #ffffff;
  }
  
  ul {
    width: auto;
    float: left;
    margin-top: 8px;
  }
  
  li {
    display: inline-block;
    padding: 15px 30px;
  }
  
  a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
  }
  
  a:hover {
    color: #ffffff;
    transition: 0.5s;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #h2 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #body
{
    background-image: url(../Images/white-triangle-369b8d2d.jpg);
    background-size: cover;
    background-attachment: fixed;
}
igcaption {
  font-size: 30px;
}

#staj {
  font-size: 23px;
}

#id {
  font-size: 35px;
}

table{
  margin: auto;
  width: 100%;
  
  padding: 10px;
  
}
.border{
  border: 5px solid rgb(189, 72, 72);
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
}